<a href="https://colab.research.google.com/github/chirucodes/concepts/blob/master/Pandas_Executable_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Hello Guys,
<br>
<br>
Welcome to the pandas executable colab file.
<br><br>
I watched a video on pandas on youTube and took the same as a reference for creating the executable file.
<br>The video link is here: [Complete Python Pandas Data Science Tutorial! (Reading CSV/Excel files, Sorting, Filtering, Groupby)](https://youtu.be/vmEHCJofslg)

## Loading and displaying data

In [ ]:
import pandas as pd
df_csv = pd.read_csv('pokemon_data_csv.csv', encoding='latin-1')
df_csv

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
df_xlsx = pd.read_excel('/content/pokemon_data_xlsx.xlsx')
df_xlsx

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
df_txt_csv = pd.read_csv('/content/pokemon_data_csv.csv', sep=',', encoding='latin-1')
df_txt_csv
# pd.read_t

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
df_csv.head

<bound method NDFrame.head of        #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]>

In [ ]:
df_csv.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
df_csv['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [ ]:
df_csv.Name

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [ ]:
df_csv[['Name','Generation']]

                      Name  Generation
0                Bulbasaur           1
1                  Ivysaur           1
2                 Venusaur           1
3    VenusaurMega Venusaur           1
4               Charmander           1
..                     ...         ...
795                Diancie           6
796    DiancieMega Diancie           6
797    HoopaHoopa Confined           6
798     HoopaHoopa Unbound           6
799              Volcanion           6

[800 rows x 2 columns]

In [ ]:
#read first 4 rows 
df_csv.head(4)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 12 columns]

In [ ]:
#read first/last 4 rows 
df_csv.iloc[1:4]
df_csv.iloc[-4:]

       #                 Name   Type 1  ... Speed  Generation  Legendary
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[4 rows x 12 columns]

In [ ]:
df_csv.iloc[2,1]

'Venusaur'

In [ ]:
for index, row in df_csv.head(8).iterrows():
    print("~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")
    print("index: %s Row: %s" %(index, row))

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 0 Row: #                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 1 Row: #                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 2 Row: #                    3
Name          Venusaur
Type 1           Grass
Type 2          Poison
HP                  80
Attack              82
Defense             83
Sp. Atk            100
Sp. Def            100
Speed               80
Generation           1
Legendary        False
Name: 2, dtype: object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 3 Row: #                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 4 Row: #                      4
Name          Charmander
Type 1              Fire
Type 2               NaN
HP                    39
Attack                52
Defense               43
Sp. Atk               60
Sp. Def               50
Speed                 65
Generation             1
Legendary          False
Name: 4, dtype: object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 5 Row: #                      5
Name          Charmeleon
Type 1              Fire
Type 2               NaN
HP                    58
Attack                64
Defense               58
Sp. Atk               80
Sp. Def               65
Speed                 80
Generation             1
Legendary          False
Name: 5, dtype: object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 6 Row: #                     6
Name          Charizard
Type 1             Fire
Type 2           Flying
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Name: 6, dtype: object
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
index: 7 Row: #                                     6
Name          CharizardMega Charizard X
Type 1                             Fire
Type 2                           Dragon
HP                                   78
Attack                              130
Defense                             111
Sp. Atk                             130
Sp. Def                              85
Speed                               100
Generation                            1
Legendary                         False
Name: 7, dtype: object

In [ ]:
df_csv.loc[df_csv['Type 1'] == 'Grass']

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 12 columns]

In [ ]:
df_csv.loc[df_csv['Attack'] > 50]

       #                   Name   Type 1  ... Speed  Generation  Legendary
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
5      5             Charmeleon     Fire  ...    80           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[630 rows x 12 columns]

In [ ]:
df_csv.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [ ]:
df_csv.sort_index(ascending=False)

       #                   Name   Type 1  ... Speed  Generation  Legendary
799  721              Volcanion     Fire  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
795  719                Diancie     Rock  ...    50           6       True
..   ...                    ...      ...  ...   ...         ...        ...
4      4             Charmander     Fire  ...    65           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
2      3               Venusaur    Grass  ...    80           1      False
1      2                Ivysaur    Grass  ...    60           1      False
0      1              Bulbasaur    Grass  ...    45           1      False

[800 rows x 12 columns]

In [ ]:
df_csv.sort_values('Attack', ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
163  150      MewtwoMega Mewtwo X  Psychic  ...   130           1       True
232  214  HeracrossMega Heracross      Bug  ...    75           2      False
424  383    GroudonPrimal Groudon   Ground  ...    90           3       True
426  384    RayquazaMega Rayquaza   Dragon  ...   115           3       True
429  386       DeoxysAttack Forme  Psychic  ...   150           3       True
..   ...                      ...      ...  ...   ...         ...        ...
139  129                 Magikarp    Water  ...    80           1      False
261  242                  Blissey   Normal  ...    55           2      False
230  213                  Shuckle      Bug  ...     5           2      False
121  113                  Chansey   Normal  ...    50           1      False
488  440                  Happiny   Normal  ...    30           4      False

[800 rows x 12 columns]

In [ ]:
df_csv.sort_values(['Attack', 'HP'])

       #                     Name   Type 1  ... Speed  Generation  Legendary
488  440                  Happiny   Normal  ...    30           4      False
121  113                  Chansey   Normal  ...    50           1      False
139  129                 Magikarp    Water  ...    80           1      False
230  213                  Shuckle      Bug  ...     5           2      False
261  242                  Blissey   Normal  ...    55           2      False
..   ...                      ...      ...  ...   ...         ...        ...
429  386       DeoxysAttack Forme  Psychic  ...   150           3       True
424  383    GroudonPrimal Groudon   Ground  ...    90           3       True
426  384    RayquazaMega Rayquaza   Dragon  ...   115           3       True
232  214  HeracrossMega Heracross      Bug  ...    75           2      False
163  150      MewtwoMega Mewtwo X  Psychic  ...   130           1       True

[800 rows x 12 columns]

In [ ]:
df_csv.sort_values(['Attack', 'HP'], ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
163  150      MewtwoMega Mewtwo X  Psychic  ...   130           1       True
232  214  HeracrossMega Heracross      Bug  ...    75           2      False
426  384    RayquazaMega Rayquaza   Dragon  ...   115           3       True
424  383    GroudonPrimal Groudon   Ground  ...    90           3       True
429  386       DeoxysAttack Forme  Psychic  ...   150           3       True
..   ...                      ...      ...  ...   ...         ...        ...
261  242                  Blissey   Normal  ...    55           2      False
139  129                 Magikarp    Water  ...    80           1      False
230  213                  Shuckle      Bug  ...     5           2      False
121  113                  Chansey   Normal  ...    50           1      False
488  440                  Happiny   Normal  ...    30           4      False

[800 rows x 12 columns]

In [ ]:
#Sorting multiple columns
df_csv.sort_values(['Attack', 'HP'], ascending=[1,0])

       #                     Name   Type 1  ... Speed  Generation  Legendary
121  113                  Chansey   Normal  ...    50           1      False
488  440                  Happiny   Normal  ...    30           4      False
261  242                  Blissey   Normal  ...    55           2      False
139  129                 Magikarp    Water  ...    80           1      False
230  213                  Shuckle      Bug  ...     5           2      False
..   ...                      ...      ...  ...   ...         ...        ...
426  384    RayquazaMega Rayquaza   Dragon  ...   115           3       True
424  383    GroudonPrimal Groudon   Ground  ...    90           3       True
429  386       DeoxysAttack Forme  Psychic  ...   150           3       True
232  214  HeracrossMega Heracross      Bug  ...    75           2      False
163  150      MewtwoMega Mewtwo X  Psychic  ...   130           1       True

[800 rows x 12 columns]

## Making changes to the Data:

In [ ]:
df_csv.head(5)

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [ ]:
df_csv['New_column_total'] = df_csv['HP'] + df_csv['Attack'] + df_csv['Defense'] + df_csv['Sp. Atk'] + df_csv['Sp. Def'] + df_csv['Speed']

In [ ]:
df_csv.head(5)

   #                   Name Type 1  ... Generation  Legendary  New_column_total
0  1              Bulbasaur  Grass  ...          1      False               318
1  2                Ivysaur  Grass  ...          1      False               405
2  3               Venusaur  Grass  ...          1      False               525
3  3  VenusaurMega Venusaur  Grass  ...          1      False               625
4  4             Charmander   Fire  ...          1      False               309

[5 rows x 13 columns]

In [ ]:
#Verify
45+49+49+65+65+45

318

In [ ]:
#drop a column
df_csv = df_csv.drop(columns='New_column_total')

In [ ]:
df_csv

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [ ]:
df_csv['New_Total'] = df_csv.iloc[:, 4:10].sum(axis=1)
df_csv['New_Total']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: New_Total, Length: 800, dtype: int64

In [ ]:
df_csv

       #                   Name   Type 1  ... Generation  Legendary  New_Total
0      1              Bulbasaur    Grass  ...          1      False        318
1      2                Ivysaur    Grass  ...          1      False        405
2      3               Venusaur    Grass  ...          1      False        525
3      3  VenusaurMega Venusaur    Grass  ...          1      False        625
4      4             Charmander     Fire  ...          1      False        309
..   ...                    ...      ...  ...        ...        ...        ...
795  719                Diancie     Rock  ...          6       True        600
796  719    DiancieMega Diancie     Rock  ...          6       True        700
797  720    HoopaHoopa Confined  Psychic  ...          6       True        600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True        680
799  721              Volcanion     Fire  ...          6       True        600

[800 rows x 13 columns]

In [ ]:
cols = list(df_csv.columns.values)
cols

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary',
 'New_Total']

In [ ]:
df_csv = df_csv[cols[0:4]+ [cols[-1]] + cols[4:12]]

In [ ]:
df_csv

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 13 columns]

In [ ]:
#Writing the modified data into a csv file
df_csv.to_csv('/content/modified.csv')

In [ ]:
#Writing the modified data into a xlsx file
df_csv.to_excel('/content/modified_xlsx.xlsx')

In [ ]:
#Writing the modified data into a csv file with a custom seperator
7 df_csv.to_csv('/content/modified_csv_sep.csv', sep='\t')

In [ ]:
#Writing the modified data into a csv file
df_csv.to_csv('/content/modified_csv_sep_no_index.csv', sep='\t', index=False)

## Filtering Data

In [ ]:
#And condition
df_csv.loc[(df_csv['Type 1'] == 'Grass') & (df_csv['Type 2'] == 'Poison')]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
49    44                  Gloom  Grass  ...    40           1      False
50    45              Vileplume  Grass  ...    50           1      False
75    69             Bellsprout  Grass  ...    40           1      False
76    70             Weepinbell  Grass  ...    55           1      False
77    71             Victreebel  Grass  ...    70           1      False
344  315                Roselia  Grass  ...    65           3      False
451  406                  Budew  Grass  ...    55           4      False
452  407               Roserade  Grass  ...    90           4      False
651  590                Foongus  Grass  ...    15           5      False
652  591              Amoonguss  Grass  ...    30           5      False

[15 rows x 13 columns]

In [ ]:
# OR condition
df_csv.loc[(df_csv['Type 1'] == 'Grass') | (df_csv['Type 2'] == 'Poison')]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
16    13                 Weedle    Bug  ...    50           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[89 rows x 13 columns]

In [ ]:
# AND condition
df_csv.loc[(df_csv['Type 1'] == 'Grass') & (df_csv['Type 2'] == 'Poison') & (df_csv['Attack'] > 50) ]

       #                   Name Type 1  ... Speed  Generation  Legendary
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
49    44                  Gloom  Grass  ...    40           1      False
50    45              Vileplume  Grass  ...    50           1      False
75    69             Bellsprout  Grass  ...    40           1      False
76    70             Weepinbell  Grass  ...    55           1      False
77    71             Victreebel  Grass  ...    70           1      False
344  315                Roselia  Grass  ...    65           3      False
452  407               Roserade  Grass  ...    90           4      False
651  590                Foongus  Grass  ...    15           5      False
652  591              Amoonguss  Grass  ...    30           5      False

[12 rows x 13 columns]

In [ ]:
#Resetting index
new_df_csv = df_csv.reset_index()

In [ ]:
new_df_csv

     index    #                   Name  ... Speed Generation  Legendary
0        0    1              Bulbasaur  ...    45          1      False
1        1    2                Ivysaur  ...    60          1      False
2        2    3               Venusaur  ...    80          1      False
3        3    3  VenusaurMega Venusaur  ...    80          1      False
4        4    4             Charmander  ...    65          1      False
..     ...  ...                    ...  ...   ...        ...        ...
795    795  719                Diancie  ...    50          6       True
796    796  719    DiancieMega Diancie  ...   110          6       True
797    797  720    HoopaHoopa Confined  ...    70          6       True
798    798  720     HoopaHoopa Unbound  ...    80          6       True
799    799  721              Volcanion  ...    70          6       True

[800 rows x 14 columns]

In [ ]:
df_csv.loc[df_csv['Name'].str.contains('Mega')]

       #                       Name    Type 1  ... Speed  Generation  Legendary
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
71    65      AlakazamMega Alakazam   Psychic  ...   150           1      False
87    80        SlowbroMega Slowbro     Water  ...    30           1      False
102   94          GengarMega Gengar     Ghost  ...   130           1      False
124  115  KangaskhanMega Kangaskhan    Normal  ...   100           1      False
137  127          PinsirMega Pinsir       Bug  ...   105           1      False
141  130      GyaradosMega Gyarados     Water  ...    81           1      False
154  142  AerodactylMega Aerodactyl      Rock  ...   150           1      False
163  150        MewtwoMega Mewtwo X   Psychic  ...   130           1       True
164  150        MewtwoMega Mewtwo Y   Psychic  ...   140           1       True
168  154                   Meganium     Grass  ...    80           2      False
196  181      AmpharosMega Ampharos  Electric  ...    45           2      False
224  208        SteelixMega Steelix     Steel  ...    30           2      False
229  212          ScizorMega Scizor       Bug  ...    75           2      False
232  214    HeracrossMega Heracross       Bug  ...    75           2      False
248  229      HoundoomMega Houndoom      Dark  ...   115           2      False
268  248    TyranitarMega Tyranitar      Rock  ...    71           2      False
275  254      SceptileMega Sceptile     Grass  ...   145           3      False
279  257      BlazikenMega Blaziken      Fire  ...   100           3      False
283  260      SwampertMega Swampert     Water  ...    70           3      False
306  282    GardevoirMega Gardevoir   Psychic  ...   100           3      False
327  302        SableyeMega Sableye      Dark  ...    20           3      False
329  303          MawileMega Mawile     Steel  ...    50           3      False
333  306          AggronMega Aggron     Steel  ...    50           3      False
336  308      MedichamMega Medicham  Fighting  ...   100           3      False
339  310    ManectricMega Manectric  Electric  ...   135           3      False
349  319      SharpedoMega Sharpedo     Water  ...   105           3      False
354  323      CameruptMega Camerupt      Fire  ...    20           3      False
366  334        AltariaMega Altaria    Dragon  ...    80           3      False
387  354        BanetteMega Banette     Ghost  ...    75           3      False
393  359            AbsolMega Absol      Dark  ...   115           3      False
397  362          GlalieMega Glalie       Ice  ...   100           3      False
409  373    SalamenceMega Salamence    Dragon  ...   120           3      False
413  376    MetagrossMega Metagross     Steel  ...   110           3      False
418  380          LatiasMega Latias    Dragon  ...   110           3       True
420  381          LatiosMega Latios    Dragon  ...   110           3       True
426  384      RayquazaMega Rayquaza    Dragon  ...   115           3       True
476  428        LopunnyMega Lopunny    Normal  ...   135           4      False
494  445      GarchompMega Garchomp    Dragon  ...    92           4      False
498  448        LucarioMega Lucario  Fighting  ...   112           4      False
511  460    AbomasnowMega Abomasnow     Grass  ...    30           4      False
527  475        GalladeMega Gallade   Psychic  ...   110           4      False
591  531          AudinoMega Audino    Normal  ...    50           5      False
796  719        DiancieMega Diancie      Rock  ...   110           6       True

[49 rows x 13 columns]

In [ ]:
# Does not contains
df_csv.loc[~df_csv['Name'].str.contains('Mega')]

       #                 Name   Type 1  ... Speed  Generation  Legendary
0      1            Bulbasaur    Grass  ...    45           1      False
1      2              Ivysaur    Grass  ...    60           1      False
2      3             Venusaur    Grass  ...    80           1      False
4      4           Charmander     Fire  ...    65           1      False
5      5           Charmeleon     Fire  ...    80           1      False
..   ...                  ...      ...  ...   ...         ...        ...
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[751 rows x 13 columns]

In [ ]:
#  Filtering with RegEx

import re

df_csv.loc[df_csv['Type 1'].str.contains('fire|Grass', flags=re.I, regex=True)]
df_csv.loc[df_csv['Type 1'].str.contains('fire|Grass', regex=True)]
df_csv.loc[df_csv['Name'].str.contains('pi[a-z]*', flags=re.I, regex=True)]
df_csv.loc[df_csv['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

       #                 Name    Type 1  ... Speed  Generation  Legendary
20    16               Pidgey    Normal  ...    56           1      False
21    17            Pidgeotto    Normal  ...    71           1      False
22    18              Pidgeot    Normal  ...   101           1      False
23    18  PidgeotMega Pidgeot    Normal  ...   121           1      False
30    25              Pikachu  Electric  ...    90           1      False
136  127               Pinsir       Bug  ...    85           1      False
137  127    PinsirMega Pinsir       Bug  ...   105           1      False
186  172                Pichu  Electric  ...    60           2      False
219  204               Pineco       Bug  ...    15           2      False
239  221            Piloswine       Ice  ...    50           2      False
438  393               Piplup     Water  ...    40           4      False
558  499              Pignite      Fire  ...    55           5      False
578  519               Pidove    Normal  ...    43           5      False

[13 rows x 13 columns]

## Conditional changes

In [ ]:
df_csv.loc[df_csv['Type 1'] == 'Fire', 'Type 1']

# Updating the value
df_csv.loc[df_csv['Type 1'] == 'Fire', 'Type 1'] = 'Flammer'

#Validation
df_csv.loc[df_csv['Type 1'] == 'Flammer', 'Type 1']

4      Flammer
5      Flammer
6      Flammer
7      Flammer
8      Flammer
42     Flammer
43     Flammer
63     Flammer
64     Flammer
83     Flammer
84     Flammer
135    Flammer
147    Flammer
158    Flammer
169    Flammer
170    Flammer
171    Flammer
236    Flammer
237    Flammer
259    Flammer
263    Flammer
270    Flammer
276    Flammer
277    Flammer
278    Flammer
279    Flammer
352    Flammer
353    Flammer
354    Flammer
355    Flammer
435    Flammer
436    Flammer
437    Flammer
518    Flammer
542    Flammer
557    Flammer
558    Flammer
559    Flammer
572    Flammer
573    Flammer
614    Flammer
615    Flammer
616    Flammer
692    Flammer
721    Flammer
722    Flammer
723    Flammer
730    Flammer
731    Flammer
735    Flammer
736    Flammer
799    Flammer
Name: Type 1, dtype: object

df_csv.loc[{CONDITION}, {COLUMN TO BE UPDATED}] = {NEW VALUE}

In [ ]:

df_csv.loc[df_csv['Type 1'] == 'Flammer', 'Legendary'] = True

In [ ]:
df_csv.loc[df_csv['New_Total'] > 500 , ['Generation', 'Legendary']] = 'TEST VALUE'
df_csv

       #                   Name   Type 1  ... Speed  Generation   Legendary
0      1              Bulbasaur    Grass  ...    45           1       False
1      2                Ivysaur    Grass  ...    60           1       False
2      3               Venusaur    Grass  ...    80  TEST VALUE  TEST VALUE
3      3  VenusaurMega Venusaur    Grass  ...    80  TEST VALUE  TEST VALUE
4      4             Charmander  Flammer  ...    65           1        True
..   ...                    ...      ...  ...   ...         ...         ...
795  719                Diancie     Rock  ...    50  TEST VALUE  TEST VALUE
796  719    DiancieMega Diancie     Rock  ...   110  TEST VALUE  TEST VALUE
797  720    HoopaHoopa Confined  Psychic  ...    70  TEST VALUE  TEST VALUE
798  720     HoopaHoopa Unbound  Psychic  ...    80  TEST VALUE  TEST VALUE
799  721              Volcanion  Flammer  ...    70  TEST VALUE  TEST VALUE

[800 rows x 13 columns]

In [ ]:
df_csv.loc[df_csv['New_Total'] > 500 , ['Generation', 'Legendary']] = ['selected generation', 'selected legendary']
df_csv

       #                   Name  ...           Generation           Legendary
0      1              Bulbasaur  ...                    1               False
1      2                Ivysaur  ...                    1               False
2      3               Venusaur  ...  selected generation  selected legendary
3      3  VenusaurMega Venusaur  ...  selected generation  selected legendary
4      4             Charmander  ...                    1                True
..   ...                    ...  ...                  ...                 ...
795  719                Diancie  ...  selected generation  selected legendary
796  719    DiancieMega Diancie  ...  selected generation  selected legendary
797  720    HoopaHoopa Confined  ...  selected generation  selected legendary
798  720     HoopaHoopa Unbound  ...  selected generation  selected legendary
799  721              Volcanion  ...  selected generation  selected legendary

[800 rows x 13 columns]

## Aggregate Statistics (Groupby)

In [ ]:
df_agr = pd.read_csv('/content/modified.csv')
df_agr

     Unnamed: 0    #                   Name  ... Speed Generation  Legendary
0             0    1              Bulbasaur  ...    45          1      False
1             1    2                Ivysaur  ...    60          1      False
2             2    3               Venusaur  ...    80          1      False
3             3    3  VenusaurMega Venusaur  ...    80          1      False
4             4    4             Charmander  ...    65          1      False
..          ...  ...                    ...  ...   ...        ...        ...
795         795  719                Diancie  ...    50          6       True
796         796  719    DiancieMega Diancie  ...   110          6       True
797         797  720    HoopaHoopa Confined  ...    70          6       True
798         798  720     HoopaHoopa Unbound  ...    80          6       True
799         799  721              Volcanion  ...    70          6       True

[800 rows x 14 columns]

In [ ]:
#Mean based on a column value
df_agr.groupby(['Type 1']).mean()
df_agr.groupby(['Type 1']).mean().sort_values('Defense')

#Highest attack
df_agr.groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

          Unnamed: 0           #   New_Total  ...       Speed  Generation  Legendary
Type 1                                        ...
Dragon    521.843750  474.375000  550.531250  ...   83.031250    3.875000   0.375000
Fighting  400.444444  363.851852  416.444444  ...   66.074074    3.370370   0.000000
Ground    392.312500  356.281250  437.500000  ...   63.906250    3.156250   0.125000
Rock      431.840909  392.727273  453.750000  ...   55.909091    3.454545   0.090909
Steel     486.296296  442.851852  487.703704  ...   55.259259    3.851852   0.148148
Dark      507.387097  461.354839  445.741935  ...   76.161290    4.032258   0.064516
Fire      360.942308  327.403846  458.076923  ...   74.442308    3.211538   0.096154
Flying    746.500000  677.750000  485.000000  ...  102.500000    5.500000   0.500000
Poison    278.285714  251.785714  399.142857  ...   63.571429    2.535714   0.000000
Water     333.312500  303.089286  430.455357  ...   65.964286    2.857143   0.035714
Ghost     536.281250  486.500000  439.562500  ...   64.343750    4.187500   0.062500
Normal    351.581633  319.173469  401.683673  ...   71.551020    3.051020   0.020408
Grass     380.414286  344.871429  421.142857  ...   61.928571    3.357143   0.042857
Ice       465.666667  423.541667  433.458333  ...   63.458333    3.541667   0.083333
Psychic   420.105263  380.807018  475.947368  ...   81.491228    3.385965   0.245614
Bug       368.072464  334.492754  378.927536  ...   61.681159    3.217391   0.000000
Electric  400.590909  363.500000  443.409091  ...   84.500000    3.272727   0.090909
Fairy     494.529412  449.529412  413.176471  ...   48.588235    4.117647   0.058824

[18 rows x 11 columns]

In [ ]:
df_agr.groupby(['Type 1']).sum()

          Unnamed: 0      #  New_Total  ...  Speed  Generation  Legendary
Type 1                                  ...
Bug            25397  23080      26146  ...   4256         222          0
Dark           15729  14302      13818  ...   2361         125          2
Dragon         16699  15180      17617  ...   2657         124         12
Electric       17626  15994      19510  ...   3718         144          4
Fairy           8407   7642       7024  ...    826          70          1
Fighting       10812   9824      11244  ...   1784          91          0
Fire           18769  17025      23820  ...   3871         167          5
Flying          2986   2711       1940  ...    410          22          2
Ghost          17161  15568      14066  ...   2059         134          2
Grass          26629  24141      29480  ...   4335         235          3
Ground         12554  11401      14000  ...   2045         101          4
Ice            11176  10165      10403  ...   1523          85          2
Normal         34455  31279      39365  ...   7012         299          2
Poison          7792   7050      11176  ...   1780          71          0
Psychic        23946  21706      27129  ...   4645         193         14
Rock           19001  17280      19965  ...   2460         152          4
Steel          13130  11957      13168  ...   1492         104          4
Water          37331  33946      48211  ...   7388         320          4

[18 rows x 11 columns]

In [ ]:
df_agr.groupby(['Type 1']).count()

          Unnamed: 0    #  Name  Type 2  ...  Sp. Def  Speed  Generation  Legendary
Type 1                                   ...
Bug               69   69    69      52  ...       69     69          69         69
Dark              31   31    31      21  ...       31     31          31         31
Dragon            32   32    32      21  ...       32     32          32         32
Electric          44   44    44      17  ...       44     44          44         44
Fairy             17   17    17       2  ...       17     17          17         17
Fighting          27   27    27       7  ...       27     27          27         27
Fire              52   52    52      24  ...       52     52          52         52
Flying             4    4     4       2  ...        4      4           4          4
Ghost             32   32    32      22  ...       32     32          32         32
Grass             70   70    70      37  ...       70     70          70         70
Ground            32   32    32      19  ...       32     32          32         32
Ice               24   24    24      11  ...       24     24          24         24
Normal            98   98    98      37  ...       98     98          98         98
Poison            28   28    28      13  ...       28     28          28         28
Psychic           57   57    57      19  ...       57     57          57         57
Rock              44   44    44      35  ...       44     44          44         44
Steel             27   27    27      22  ...       27     27          27         27
Water            112  112   112      53  ...      112    112         112        112

[18 rows x 13 columns]

In [ ]:
df_agr['count'] = 1
df_agr
#groupby(['Type 1']).mean().sort_values('Attack', ascending=False)

     Unnamed: 0    #                   Name  ... Generation Legendary  count
0             0    1              Bulbasaur  ...          1     False      1
1             1    2                Ivysaur  ...          1     False      1
2             2    3               Venusaur  ...          1     False      1
3             3    3  VenusaurMega Venusaur  ...          1     False      1
4             4    4             Charmander  ...          1     False      1
..          ...  ...                    ...  ...        ...       ...    ...
795         795  719                Diancie  ...          6      True      1
796         796  719    DiancieMega Diancie  ...          6      True      1
797         797  720    HoopaHoopa Confined  ...          6      True      1
798         798  720     HoopaHoopa Unbound  ...          6      True      1
799         799  721              Volcanion  ...          6      True      1

[800 rows x 15 columns]

In [ ]:
df_agr.groupby(['Type 1']).count()['count'].sort_values(ascending=False)
df_agr.groupby(['Type 2']).count()['count'].sort_values(ascending=False)
df_agr.groupby(['Type 1', 'Type 2']).count()['count'].sort_values(ascending=False)

Type 1    Type 2
Normal    Flying    24
Grass     Poison    15
Bug       Flying    14
          Poison    12
Water     Ground    10
                    ..
Electric  Ice        1
          Grass      1
          Fire       1
          Fairy      1
Water     Steel      1
Name: count, Length: 136, dtype: int64

## Working with llarge amouts of data

In [ ]:
for df_5rows in pd.read_csv('/content/modified.csv', chunksize=5):
    print("Chunk dataframe")
    print(df_5rows)

Chunk dataframe
   Unnamed: 0  #                   Name  ... Speed Generation  Legendary
0           0  1              Bulbasaur  ...    45          1      False
1           1  2                Ivysaur  ...    60          1      False
2           2  3               Venusaur  ...    80          1      False
3           3  3  VenusaurMega Venusaur  ...    80          1      False
4           4  4             Charmander  ...    65          1      False

[5 rows x 14 columns]
Chunk dataframe
   Unnamed: 0  #                       Name  ... Speed Generation  Legendary
5           5  5                 Charmeleon  ...    80          1      False
6           6  6                  Charizard  ...   100          1      False
7           7  6  CharizardMega Charizard X  ...   100          1      False
8           8  6  CharizardMega Charizard Y  ...   100          1      False
9           9  7                   Squirtle  ...    43          1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #                     Name  ... Speed  Generation  Legendary
10          10   8                Wartortle  ...    58           1      False
11          11   9                Blastoise  ...    78           1      False
12          12   9  BlastoiseMega Blastoise  ...    78           1      False
13          13  10                 Caterpie  ...    45           1      False
14          14  11                  Metapod  ...    30           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #                   Name  ... Speed Generation  Legendary
15          15  12             Butterfree  ...    70          1      False
16          16  13                 Weedle  ...    50          1      False
17          17  14                 Kakuna  ...    35          1      False
18          18  15               Beedrill  ...    75          1      False
19          19  15  BeedrillMega Beedrill  ...   145          1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #                 Name  ... Speed Generation  Legendary
20          20  16               Pidgey  ...    56          1      False
21          21  17            Pidgeotto  ...    71          1      False
22          22  18              Pidgeot  ...   101          1      False
23          23  18  PidgeotMega Pidgeot  ...   121          1      False
24          24  19              Rattata  ...    72          1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #      Name  Type 1  ... Sp. Def  Speed  Generation  Legendary
25          25  20  Raticate  Normal  ...      70     97           1      False
26          26  21   Spearow  Normal  ...      31     70           1      False
27          27  22    Fearow  Normal  ...      61    100           1      False
28          28  23     Ekans  Poison  ...      54     55           1      False
29          29  24     Arbok  Poison  ...      79     80           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #              Name  ... Speed  Generation  Legendary
30          30  25           Pikachu  ...    90           1      False
31          31  26            Raichu  ...   110           1      False
32          32  27         Sandshrew  ...    40           1      False
33          33  28         Sandslash  ...    65           1      False
34          34  29  Nidoran (Female)  ...    41           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #            Name  ... Speed Generation  Legendary
35          35  30        Nidorina  ...    56          1      False
36          36  31       Nidoqueen  ...    76          1      False
37          37  32  Nidoran (Male)  ...    50          1      False
38          38  33        Nidorino  ...    65          1      False
39          39  34        Nidoking  ...    85          1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #        Name  Type 1  ... Sp. Def  Speed  Generation  Legendary
40          40  35    Clefairy   Fairy  ...      65     35           1      False
41          41  36    Clefable   Fairy  ...      90     60           1      False
42          42  37      Vulpix    Fire  ...      65     65           1      False
43          43  38   Ninetales    Fire  ...     100    100           1      False
44          44  39  Jigglypuff  Normal  ...      25     20           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #        Name  Type 1  ... Sp. Def  Speed  Generation  Legendary
45          45  40  Wigglytuff  Normal  ...      50     45           1      False
46          46  41       Zubat  Poison  ...      40     55           1      False
47          47  42      Golbat  Poison  ...      75     90           1      False
48          48  43      Oddish   Grass  ...      65     30           1      False
49          49  44       Gloom   Grass  ...      75     40           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #       Name Type 1  ... Sp. Def  Speed  Generation  Legendary
50          50  45  Vileplume  Grass  ...      90     50           1      False
51          51  46      Paras    Bug  ...      55     25           1      False
52          52  47   Parasect    Bug  ...      80     30           1      False
53          53  48    Venonat    Bug  ...      55     45           1      False
54          54  49   Venomoth    Bug  ...      75     90           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #     Name  Type 1  ...  Sp. Def  Speed  Generation  Legendary
55          55  50  Diglett  Ground  ...       45     95           1      False
56          56  51  Dugtrio  Ground  ...       70    120           1      False
57          57  52   Meowth  Normal  ...       40     90           1      False
58          58  53  Persian  Normal  ...       65    115           1      False
59          59  54  Psyduck   Water  ...       50     55           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #       Name    Type 1  ...  Sp. Def  Speed  Generation  Legendary
60          60  55    Golduck     Water  ...       80     85           1      False
61          61  56     Mankey  Fighting  ...       45     70           1      False
62          62  57   Primeape  Fighting  ...       70     95           1      False
63          63  58  Growlithe      Fire  ...       50     60           1      False
64          64  59   Arcanine      Fire  ...       80     95           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #       Name   Type 1  ... Sp. Def  Speed  Generation  Legendary
65          65  60    Poliwag    Water  ...      40     90           1      False
66          66  61  Poliwhirl    Water  ...      50     90           1      False
67          67  62  Poliwrath    Water  ...      90     70           1      False
68          68  63       Abra  Psychic  ...      55     90           1      False
69          69  64    Kadabra  Psychic  ...      70    105           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #                   Name  ... Speed  Generation  Legendary
70          70  65               Alakazam  ...   120           1      False
71          71  65  AlakazamMega Alakazam  ...   150           1      False
72          72  66                 Machop  ...    35           1      False
73          73  67                Machoke  ...    45           1      False
74          74  68                Machamp  ...    55           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #        Name Type 1  ... Sp. Def  Speed  Generation  Legendary
75          75  69  Bellsprout  Grass  ...      30     40           1      False
76          76  70  Weepinbell  Grass  ...      45     55           1      False
77          77  71  Victreebel  Grass  ...      70     70           1      False
78          78  72   Tentacool  Water  ...     100     70           1      False
79          79  73  Tentacruel  Water  ...     120    100           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #      Name Type 1  ... Sp. Def  Speed  Generation  Legendary
80          80  74   Geodude   Rock  ...      30     20           1      False
81          81  75  Graveler   Rock  ...      45     35           1      False
82          82  76     Golem   Rock  ...      65     45           1      False
83          83  77    Ponyta   Fire  ...      65     90           1      False
84          84  78  Rapidash   Fire  ...      80    105           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #                 Name  ... Speed Generation  Legendary
85          85  79             Slowpoke  ...    15          1      False
86          86  80              Slowbro  ...    30          1      False
87          87  80  SlowbroMega Slowbro  ...    30          1      False
88          88  81            Magnemite  ...    45          1      False
89          89  82             Magneton  ...    70          1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #        Name  Type 1  ... Sp. Def  Speed  Generation  Legendary
90          90  83  Farfetch'd  Normal  ...      62     60           1      False
91          91  84       Doduo  Normal  ...      35     75           1      False
92          92  85      Dodrio  Normal  ...      60    100           1      False
93          93  86        Seel   Water  ...      70     45           1      False
94          94  87     Dewgong   Water  ...      95     70           1      False

[5 rows x 14 columns]
Chunk dataframe
    Unnamed: 0   #      Name  Type 1  ... Sp. Def  Speed  Generation  Legendary
95          95  88    Grimer  Poison  ...      50     25           1      False
96          96  89       Muk  Poison  ...     100     50           1      False
97          97  90  Shellder   Water  ...      25     40           1      False
98          98  91  Cloyster   Water  ...      45     70           1      False
99          99  92    Gastly   Ghost  ...      35     80           1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0   #               Name  ... Speed Generation  Legendary
100         100  93            Haunter  ...    95          1      False
101         101  94             Gengar  ...   110          1      False
102         102  94  GengarMega Gengar  ...   130          1      False
103         103  95               Onix  ...    70          1      False
104         104  96            Drowzee  ...    42          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #       Name  ... Speed  Generation  Legendary
105         105   97      Hypno  ...    67           1      False
106         106   98     Krabby  ...    50           1      False
107         107   99    Kingler  ...    75           1      False
108         108  100    Voltorb  ...   100           1      False
109         109  101  Electrode  ...   140           1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #       Name  ... Speed Generation  Legendary
110         110  102  Exeggcute  ...    40          1      False
111         111  103  Exeggutor  ...    55          1      False
112         112  104     Cubone  ...    35          1      False
113         113  105    Marowak  ...    45          1      False
114         114  106  Hitmonlee  ...    87          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #        Name  ... Speed Generation  Legendary
115         115  107  Hitmonchan  ...    76          1      False
116         116  108   Lickitung  ...    30          1      False
117         117  109     Koffing  ...    35          1      False
118         118  110     Weezing  ...    60          1      False
119         119  111     Rhyhorn  ...    25          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #                       Name  ... Speed Generation  Legendary
120         120  112                     Rhydon  ...    40          1      False
121         121  113                    Chansey  ...    50          1      False
122         122  114                    Tangela  ...    60          1      False
123         123  115                 Kangaskhan  ...    90          1      False
124         124  115  KangaskhanMega Kangaskhan  ...   100          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #     Name Type 1  ...  Sp. Def  Speed  Generation  Legendary
125         125  116   Horsea  Water  ...       25     60           1      False
126         126  117   Seadra  Water  ...       45     85           1      False
127         127  118  Goldeen  Water  ...       50     63           1      False
128         128  119  Seaking  Water  ...       80     68           1      False
129         129  120   Staryu  Water  ...       55     85           1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #        Name  ... Speed Generation  Legendary
130         130  121     Starmie  ...   115          1      False
131         131  122    Mr. Mime  ...    90          1      False
132         132  123     Scyther  ...   105          1      False
133         133  124        Jynx  ...    95          1      False
134         134  125  Electabuzz  ...   105          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #               Name  ... Speed Generation  Legendary
135         135  126             Magmar  ...    93          1      False
136         136  127             Pinsir  ...    85          1      False
137         137  127  PinsirMega Pinsir  ...   105          1      False
138         138  128             Tauros  ...   110          1      False
139         139  129           Magikarp  ...    80          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #                   Name  ... Speed Generation  Legendary
140         140  130               Gyarados  ...    81          1      False
141         141  130  GyaradosMega Gyarados  ...    81          1      False
142         142  131                 Lapras  ...    60          1      False
143         143  132                  Ditto  ...    48          1      False
144         144  133                  Eevee  ...    55          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #      Name    Type 1  ... Sp. Def  Speed  Generation  Legendary
145         145  134  Vaporeon     Water  ...      95     65           1      False
146         146  135   Jolteon  Electric  ...      95    130           1      False
147         147  136   Flareon      Fire  ...     110     65           1      False
148         148  137   Porygon    Normal  ...      75     40           1      False
149         149  138   Omanyte      Rock  ...      55     35           1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #                       Name  ... Speed Generation  Legendary
150         150  139                    Omastar  ...    55          1      False
151         151  140                     Kabuto  ...    55          1      False
152         152  141                   Kabutops  ...    80          1      False
153         153  142                 Aerodactyl  ...   130          1      False
154         154  142  AerodactylMega Aerodactyl  ...   150          1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #      Name    Type 1  ... Sp. Def  Speed  Generation  Legendary
155         155  143   Snorlax    Normal  ...     110     30           1      False
156         156  144  Articuno       Ice  ...     125     85           1       True
157         157  145    Zapdos  Electric  ...      90    100           1       True
158         158  146   Moltres      Fire  ...      85     90           1       True
159         159  147   Dratini    Dragon  ...      50     50           1      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #                 Name  ... Speed Generation  Legendary
160         160  148            Dragonair  ...    70          1      False
161         161  149            Dragonite  ...    80          1      False
162         162  150               Mewtwo  ...   130          1       True
163         163  150  MewtwoMega Mewtwo X  ...   130          1       True
164         164  150  MewtwoMega Mewtwo Y  ...   140          1       True

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #       Name   Type 1  ...  Sp. Def  Speed  Generation  Legendary
165         165  151        Mew  Psychic  ...      100    100           1      False
166         166  152  Chikorita    Grass  ...       65     45           2      False
167         167  153    Bayleef    Grass  ...       80     60           2      False
168         168  154   Meganium    Grass  ...      100     80           2      False
169         169  155  Cyndaquil     Fire  ...       50     65           2      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #        Name Type 1  ...  Sp. Def  Speed  Generation  Legendary
170         170  156     Quilava   Fire  ...       65     80           2      False
171         171  157  Typhlosion   Fire  ...       85    100           2      False
172         172  158    Totodile  Water  ...       48     43           2      False
173         173  159    Croconaw  Water  ...       63     58           2      False
174         174  160  Feraligatr  Water  ...       83     78           2      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #      Name  Type 1  ... Sp. Def  Speed  Generation  Legendary
175         175  161   Sentret  Normal  ...      45     20           2      False
176         176  162    Furret  Normal  ...      55     90           2      False
177         177  163  Hoothoot  Normal  ...      56     50           2      False
178         178  164   Noctowl  Normal  ...      96     70           2      False
179         179  165    Ledyba     Bug  ...      80     55           2      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #      Name  Type 1  ... Sp. Def  Speed  Generation  Legendary
180         180  166    Ledian     Bug  ...     110     85           2      False
181         181  167  Spinarak     Bug  ...      40     30           2      False
182         182  168   Ariados     Bug  ...      60     40           2      False
183         183  169    Crobat  Poison  ...      80    130           2      False
184         184  170  Chinchou   Water  ...      56     67           2      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #       Name  ... Speed Generation  Legendary
185         185  171    Lanturn  ...    67          2      False
186         186  172      Pichu  ...    60          2      False
187         187  173     Cleffa  ...    15          2      False
188         188  174  Igglybuff  ...    15          2      False
189         189  175     Togepi  ...    20          2      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #     Name    Type 1  ... Sp. Def  Speed  Generation  Legendary
190         190  176  Togetic     Fairy  ...     105     40           2      False
191         191  177     Natu   Psychic  ...      45     70           2      False
192         192  178     Xatu   Psychic  ...      70     95           2      False
193         193  179   Mareep  Electric  ...      45     35           2      False
194         194  180  Flaaffy  Electric  ...      60     45           2      False

[5 rows x 14 columns]
Chunk dataframe
     Unnamed: 0    #                   Name  ... Speed Generation  Legendary
195         195  181               Ampharos  ...    55          2      False
196         196  181  AmpharosMega Ampharos  ...    45          2      False
197         197  182              Bellossom  ...    50          2      False
198         198  183                 Marill  ...    40          2      False

In [ ]:
new_df = pd.DataFrame(columns=df_5rows.columns)

In [ ]:
new_df

Empty DataFrame
Columns: [Unnamed: 0, #, Name, Type 1, Type 2, New_Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [ ]:
for df_5rows in pd.read_csv('/content/modified.csv', chunksize=5):
    print("Chunk dataframe")
    results = df_5rows.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])

Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe
Chunk dataframe